<mat-drawer-container class="example-container" [hasBackdrop]="!desktopMode">
  <mat-drawer #drawer mode="side" position="start" [opened]="desktopMode">
    <div class="drawer">
      <a routerLink="/">
        <div class="drawer-destination">
          Home
        </div>
      </a>
      <a routerLink="/search">
        <div class="drawer-destination">
          Search
        </div>
      </a>
  </div>
  </mat-drawer>
    <mat-drawer-content>
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>
