.drawer-destination{
    padding: 30px;
    font-size: x-large;
    color: black;
}

a{
    text-decoration: none !important;
}

a:link {
    text-decoration: none !important;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}

.drawer-destination:hover{
    background-color: rgb(209, 209, 209);
}

.full-drawer{
    height: 100%;
    background-color: var(--accent-color);
}

.container{
    height: 100%;
}

mat-icon{
    transform: scale(2);
}

@media only screen and (max-width: 900px) {
    .drawer-destination{
        padding: 30px;
        font-size: x-large;
        color: black;
    }
}
