<mat-drawer-container class="container" [hasBackdrop]="!desktopMode">
  <mat-drawer class="full-drawer" #drawer mode="side" position="start" [opened]="desktopMode">
    <div class="drawer">
      <a routerLink="/">
        <div class="drawer-destination">
          <mat-icon>home</mat-icon>
        </div>
      </a>
      <a routerLink="/search">
        <div class="drawer-destination">
          <mat-icon>search</mat-icon>
        </div>
      </a>
      <div class="drawer-destination float-down" (click)="toogleDarkMode()">
        <mat-icon *ngIf="!darkMode">wb_sunny</mat-icon>
        <mat-icon *ngIf="darkMode">brightness_2</mat-icon>
      </div>
  </div>
  </mat-drawer>
    <mat-drawer-content>
        <ng-content></ng-content>
    </mat-drawer-content>
</mat-drawer-container>
