<div class="container">
    <app-featured-game-grid></app-featured-game-grid>
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    <br>
    sdasda
    
</div>
