<div class="operating-system-cards">
    <button class="card" id="windows" [ngClass]="osArray[0] ? 'inverted' : ''" (click)="onOsChange($event.target)">
      <img [ngClass]="darkMode ? 'inverted' : ''" src="../../../assets/icons/windows.png">
    </button>
    <button class="card" [ngClass]="osArray[1] ? 'inverted' : ''" id="linux" (click)="onOsChange($event.target)">
      <img [ngClass]="darkMode ? 'inverted' : ''" src="../../../assets/icons/linux.png">
    </button>
    <button class="card" [ngClass]="osArray[2] ? 'inverted' : ''" id="mac" (click)="onOsChange($event.target)">
      <img [ngClass]="darkMode ? 'inverted' : ''"  src="../../../assets/icons/apple.png">
    </button>
  </div>
