.display{
    position: relative;
    width: 100%;
    margin-top: 20px;
}

.game{
    color: white;
    position: absolute;
    width: 100%;
    transition: margin-left 0.5s ease, width 0.5s ease, margin-top 0.5s ease, z-index 0.5s ease;
    cursor: pointer;
}

.game img{
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 0px gray;
    transition: height 0.5s ease;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

.farLeft{
    width: 0vw;
    height: 0vw;
    margin-left: 0vw;
    margin-top: 5.625vw;
    z-index: 1;
}

.left{
    width: 40%;
    height: 60%;
    margin-left: 0%;
    margin-top: 2.8125vw;
    z-index: 2;
}

.middle{
    width: 60%;
    height: 100%;
    margin-left: 20%;
    z-index: 3;
}

.right{
    width: 40%;
    height: 60%;
    margin-left: 60%;
    margin-top: 2.8125vw;
    z-index: 2;
}

.farRight{
    width: 0vw;
    height: 0vw;
    margin-left: 30vw;
    margin-top: 5.625vw;
    z-index: 1;
}

.right-image-display, .left-image-display{
    width: 50vw;
    height: 20vw;
}

.middle-image-display{
    width: 40vw;
    height: 30vw;
}

.description{
    margin-top: calc(-5vw - 25px);
    width: 100%;
    height: 5vw;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.description p{
    margin: 0;
    display: inline-block;
    background-color: rgba(0,0,0,.6);
    width: calc(100% - 10px);
    height: 100%;
    font-size: 2.5vw;
    padding: 0px;
    padding-left: 10px;
    padding-top: 20px;
    border-radius: 5px;
}

.middle .description{
    opacity: 1;
}
