.drawer-destination{
    padding: 10px 5vw;
    font-size: x-large;
    color: black;
}

@media only screen and (max-width: 900px) {
    .drawer-destination{
        padding: 10px 40vw;
        font-size: x-large;
        color: black;
    }
  }

