<mat-drawer-container class="example-container" [hasBackdrop]="!desktopMode">
    <mat-drawer class="full-drawer" #drawer mode="side" position="end" [opened]="desktopMode">
      <div class="drawer">
        <a routerLink="/">
          <div class="drawer-destination">
            A
          </div>
        </a>
        <a routerLink="/search">
          <div class="drawer-destination">
            B
          </div>
        </a>
    </div>
    </mat-drawer>
      <mat-drawer-content>
          <ng-content></ng-content>
      </mat-drawer-content>
  </mat-drawer-container>
  