.content {
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
}

.cdk-viewport{
    display: flex;
    height: 100%;
    width: 100%;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
