.filter-button{
    float: right;
}

.content{
    width: 100%;
}

div{
  position: relative;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

mat-toolbar{
  height: 64px;
}
