<mat-toolbar>
    <mat-toolbar-row *ngIf="isHomeView()">
        <mat-icon class="example-icon" aria-hidden="false" (click)="toggleNavigationDrawer()" *ngIf="!desktopMode">menu</mat-icon>
        <span>New & Trending games</span>
    </mat-toolbar-row>

    <mat-toolbar-row *ngIf="isSearchView()">
        <div class="content">
            <div class="center">
                <div class="center">
                    <mat-icon class="example-icon" aria-hidden="false" (click)="toggleNavigationDrawer()" *ngIf="!desktopMode">menu</mat-icon>
                    <span>Search</span>
                </div>
                <div class="center">
                    <app-search-bar></app-search-bar>
                </div>
                <div class="center">
                    <mat-icon class="filter-button" aria-hidden="false" (click)="toggleFilterDrawer()" *ngIf="!desktopMode">filter_list</mat-icon>
                </div>
            </div>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row *ngIf="isGameView()">
        <mat-icon class="example-icon" aria-hidden="false" (click)="toggleNavigationDrawer()" *ngIf="!desktopMode">menu</mat-icon>
        <span>{{title}}</span>
    </mat-toolbar-row>
</mat-toolbar>
