.filter-button{
    float: right;
}

.content{
    width: 100%;
}

div{
    height: 100%;
  position: relative;
}

.center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
